ul{
	list-style-type:circle;
	background-color:orange;
}

li{
	background-color:green;
    list-style-position:inside;
}

ul{
	list-style-image:url(https://icon-library.com/images/small-star-icon/small-star-icon-8.jpg)
}
